

.home-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-side-bar-container {
    height: 100%;
    width: 70px;
}

.home-side-bar {
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}

.home-side-bar--link {
    font-size: 1.4rem;
    color: black;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.home-side-bar--link h1 {
    margin: 3px;
    font-size: 0.6rem;
    font-family: sans-serif;
    font-weight: normal;
}

.home-side-bar--link:hover, .home-side-bar--link:hover h1, .home-side-bar--link:hover i {
    background-color: var(--selection-colour);
}

.home-side-bar--toggle-side-bar-button {
    padding-top: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-side-bar--toggle-side-bar-button button {
    font-size: 1.5rem;
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--background-colour);
}

.home-side-bar--toggle-side-bar-button button:hover, .home-side-bar--toggle-side-bar-button button:hover i {
    background-color: var(--selection-colour);
    cursor: pointer;
}

.categories-list-container {
    position: absolute;
    top: 70px;
    left: 100px;
    background-color: red;
}

.categories-list {
    list-style: none;
    padding-left: 0;
}

.categories-list > li {
    display: inline-block;
    margin: 7px;
}

.categories-list li {
    padding: 5px;
    background-color: var(--selection-colour);
    border-radius: 7px;
}

.categories-list li button {
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--selection-colour);
}

.categories-list li:hover, .categories-list li:hover button {
    cursor: pointer;
    background-color: #d4d4d4;
}

